body{
    margin: 0;
    padding: 0;
    background-color:#0c0d14;
    font-family: 'fredoka';

}

/* NAVBAR */
nav{
    background-color:#373952 ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 60px;
    padding: 3px;
    }


.logo{
    width: 25%;
}

.logo img{
    width: 150px;
    height: auto;
    margin-left: 55px;
}

.serchbar{
    background-color:#46486a ;
    height: 30px;
    border-radius: 50px;
    padding : 7px 15px;
    width: 600px;
}

.serchbar input{
    border: none;
    outline: none;
    background: none;
    height: 30px;
    color: aliceblue;
    margin-right: 400px;
}

.serchbar a{
    padding: 0;
    margin : 0;
    color:#5c5e81 ;
    
}
/*  BATAS NAVBAR */

/* Carousel  */
.carousel{
    width: 75%;
    height: 400px;
    overflow: hidden;
    margin-left: 170px;
    margin-top: 10vh;
    border-radius: 25px;

}

.container{
    width: 100%;
    height: 100%;
    position: relative;

}

.card{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    position: absolute;
}

.tombol{
    position: absolute;
    border: none;
    background-color:#5c5e81;
    top: 200px;;
    cursor: pointer;
    border-radius: 90px;
    color: #ffffff;
    width: 3%;
    height: 6%;
}

#kiri{
    left: 2px;
}

#kanan{
    right: 2px;
}

/*batas carousel*/

.baris{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    /* padding: 10px; */
    margin-top: 2px;
}

.game{
    width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 55px;
    
}



.text1{
    color: white;
    margin-left: 180px;
    margin-top: 12px;
    margin-bottom: -5px;
    padding-top: 12px;
}


.cover :hover{
    box-shadow: -3px -3px 45px 9px rgba(161,9,255,0.79);
    padding: 0;
    margin: 0;
    transition: ease-in 0.2s;
}



/* .canvas{
    /* background-color: #28293c; */
    /* border-radius: 30px 30px 0 0; */
    /* width: 800px;
    height: 400px; */
