body{
    margin: 0;
    padding: 0;
    background-color:#0c0d14;
    font-family: 'fredoka';
    color: #ffffff;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* NAVBAR */
nav{
    background-color:#373952 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}


.logo{
    width: 5rem;
}

.logo img{
    width: 60px;
    height: auto;
    margin-left: 10px;
    padding: 10px 5px;
}

.serchbar{
    display: flex;
    flex-direction: row;
    background-color:#46486a ;
    height: 1rem;
    border-radius: 25px;
    padding : 4px;
    width: 150px;
    align-items: center;
}

.serchbar input{
    border: none;
    outline: none;
    background: none;
    height: 10px;
    color: aliceblue;
    margin-left: 10px;
    width: 100px;
}

.serchbar a{
    padding: 0;
    margin : 0;
    color:#5c5e81 ;
}

.masuk{
    width: 4rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 0, 222);
    border-radius: 20px;
    font-weight: bold;
    font-size: small;
    margin-right: 20px;
}
/*  BATAS NAVBAR */

/* side nav */

.nav-container{
    width: 7%;
    height: 100vh;
    background-color: #373952;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 0px 2px;
}

.nav-container:hover{
    width: 30%;
    height: 100vh;
    background-color: #373952;
    position: fixed;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.nav-btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: small;
}

.side-nav{
    display: none;
}

.mousein{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
/* end side nav */

/* Carousel  */
.carousel{
    width: 85%;
    height: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 80px;
    margin-left: 20px;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;

}

.card{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    position: absolute;
}

.tombol{
    position: absolute;
    border: none;
    cursor: pointer;
    background: fixed;
    color: #ffffff;
    width: 1.5rem;
    height: 100%;
}

.carousel:hover .tombol{
    position: absolute;
    border: none;
    background-color:rgba(0, 0, 0, 0.452);
    cursor: pointer;
    color: #ffffff;
    width: 1.5rem;
    height: 100%;
}

#kanan{
    right: 0px;
}

/*batas carousel*/


/* section game */
.section-game{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    margin-left: 20px;
}

.section-game1{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 20px;
}


.baris{
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    /* margin-left: 50px; */
    /* padding: 10px; */
    margin-top: 2px;
}

.baris::-webkit-scrollbar {
    display: none;
}


.game{
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.bungkus:nth-of-type(n+1){
    width: 100%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.text1{
    /* margin-left: 180px; */
    margin-top: 12px;
    margin-bottom: -5px;
    padding-top: 12px;
}


.cover :hover{
    box-shadow: -3px 0px 18px 2px rgba(178,111,255,0.63);
    padding: 0;
    margin: 0;
    transition: ease-in 0.2s;
}

/* .canvas{
    /* background-color: #28293c; */
    /* border-radius: 30px 30px 0 0; */
    /* width: 800px;
    height: 400px; */


/* footer */

footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #373952;
    margin-top: 10px;
    z-index: 2;
}

#populer{
    position: absolute;
    bottom: 0;
    left: 0;  
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373952;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
        
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@media screen and (min-width: 480px) {
    .carousel{
        width: 85%;
        height: 400px;
    }   
    
    .logo{
        width: 4rem;
    }

    .logo img{
        width: 120px;
        height: auto;
        margin-left: 55px;
        padding: 10px 5px;
    }

    .serchbar{
        background-color:#46486a ;
        height: 30px;
        border-radius: 50px;
        padding : 7px 15px;
        width: 600px;
    }

    .serchbar input{
        border: none;
        outline: none;
        background: none;
        height: 30px;
        color: aliceblue;
        margin-right: 450px;
    }

    .serchbar a{
        padding: 0;
        margin : 0;
        color:#5c5e81 ;
        
    }

    .masuk{
        width: 5rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(118, 0, 222);
        border-radius: 50px;
        font-weight: bold;
        font-size: larger;
        margin-right: 50px;
    }

    .nav-container{
        width: 3%;
        height: 100vh;
        background-color: #373952;
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .nav-container:hover{
        width: 15%;
        height: 100vh;
        background-color: #373952;
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 1;
    }

    .nav-btn{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-size: medium;
    }

    .section-game{
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
   
    .section-game1{
        width: 85%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 20px;
    }

    .baris{
        padding-left: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow: scroll;
        /* margin-left: 50px; */
        /* padding: 10px; */
        margin-top: 2px;
    }

    .baris::-webkit-scrollbar {
        display: none;
    }


    .game{
        width: 200px;
        height: auto;
        padding: 30px;
        border-radius: 55px;

    }

    .text1{
        /* margin-left: 180px; */
        margin-top: 12px;
        margin-bottom: -5px;
        padding-top: 12px;
    }


    .cover :hover{
        box-shadow: -3px 0px 18px 2px rgba(178,111,255,0.63);
        padding: 0;
        margin: 0;
        transition: ease-in 0.2s;
    }

    .text2{
        margin-top: 60px;
        margin-bottom: -5px;
        padding-top: 12px;
    }

}